package {{packageName}};

import java.util.List;
import java.util.ArrayList;

import com.github.sdorra.dto.DTO;
import com.github.sdorra.dto.DTOContext;

/**
 * Automatic generated dto class for {@link {{className}}}.
 *
 * @see http://de.slideshare.net/stormpath/rest-jsonapis
 */
public class {{simpleDTOName}} extends DTO<{{className}}>
{
  /** default serial version uid */
  private static final long serialVersionUID = 1L;

  /** sub path of resource */
  public static final String RESOURCE_PATH = "{{resourcePath}}";

  //~--- DTO fields ------------------------------------------------------------

  {{#fields}}
  
  /** dto for field {{variable}} */
  public static final String {{constant}} = "{{variable}}";
  {{/fields}}
  
  //~--- constructors ----------------------------------------------------------
  
  /**
   * No args constructor for unmarshalling.
   **/
  {{simpleDTOName}}(){}
  
  /** 
   * Constructor to copy dto fields from {@link {{className}}}.
   * 
   * @param dtoContext dto context
   * @param {{instanceName}}
   **/
  public {{simpleDTOName}}(DTOContext dtoContext, {{className}} {{instanceName}})
  {
     {{#fields}}{{#getter}}
     {{#dto}}
     {{#multiValue}}
     // convert nested dto's
     this.putNonNull(dtoContext, {{constant}}, {{dto}}.fromEntities(dtoContext.nested({{constant}}), {{instanceName}}.{{getter}}()));
     {{/multiValue}}
     {{^multiValue}}
     // convert nested dto
     this.putNonNull(dtoContext, {{constant}}, {{dto}}.fromEntity(dtoContext.nested({{constant}}), {{instanceName}}.{{getter}}()));
     {{/multiValue}}
     {{/dto}}
     {{^dto}}
     this.putNonNull(dtoContext, {{constant}}, {{instanceName}}.{{getter}}());
     {{/dto}}
     {{/getter}}{{/fields}}
     // add self link
     this.putSelfLink(dtoContext, RESOURCE_PATH, {{instanceName}}.{{idField.getter}}());
  }
  
  /**
   * Creates a new dto from the entity.
   *
   * @param dtoContext dto context
   * @param {{instanceName}}
   *
   * @return new dto
   **/
  public static {{simpleDTOName}} fromEntity(DTOContext dtoContext, {{className}} {{instanceName}})
  {
    {{simpleDTOName}} dto = null;
    if ({{instanceName}} != null)
    {
      dto = new {{simpleDTOName}}(dtoContext, {{instanceName}}); 
    }
    return dto;
  }
  
  /**
   * Creates a new list of dtos from entities.
   *
   * @param dtoContext dto context
   * @param {{instanceName}}s iterables
   *
   * @return new dto list
   **/
  public static List<{{simpleDTOName}}> fromEntities(DTOContext dtoContext, Iterable<{{className}}> {{instanceName}}s)
  {
    List<{{simpleDTOName}}> dtos = null;
    if ({{instanceName}}s != null){
      dtos = new ArrayList<{{simpleDTOName}}>();
      for ({{className}} instance : {{instanceName}}s){
        dtos.add(new {{simpleDTOName}}(dtoContext, instance));
      }
    }
    return dtos;
  }
  
  /**
   * Converts the dto back to a {{className}}.
   *
   * @return entity
   **/
  @Override
  public {{className}} toEntity()
  {
    {{className}} {{instanceName}} = new {{className}}();
    mergeWithEntity({{instanceName}});
    return {{instanceName}};
  }
  
  /**
   * Creates entity from dto.
   *
   * @param {{instanceName}}
   **/
  @Override
  public void mergeWithEntity({{className}} {{instanceName}})
  {
    {{#fields}}{{^dto}}{{#setter}}
    {{instanceName}}.{{setter}}(({{type}}) this.get({{constant}}));
    {{/setter}}{{/dto}}{{/fields}}
  }
}